html{
    box-sizing: border-box;
}

p.highlit {
    color: rgb(0, 195, 255);
    font-size: large;
}

h2#special {
    background-color: orange;
    padding-bottom: 0px;
}

/* Attribute and Class Combination */
input[type="text"].input-text {
    border: 2px solid #4caf50;
    padding: 10px;
  }

  li#important {
    color: aquamarine;
  }

  li.special {
    color: red;
    font-style: italic;
  }

  .multi-class.paragraph-class{
    font-style: italic;
    font-weight: bold;
  }

  .fancy-link {
    color: blue;
  }

  p [href="https://softuni.bg"] {
    color: orange;
    border-color:orange;
    border-bottom:1.5px solid;
  }

  p {
    color: red;
    box-sizing: border-box;
    padding: 0.5px;
  }

  body {
    box-sizing: inherit;
  }