@import url(../styles/_styles.css);

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2em;
}

@media (max-width: 800px) {
    table,
    table tbody,
    table tbody tr,
    table tbody tr td{
        display: block;
    }

    table tbody tr{
      border: 1px solid #ccc;
      background: white;
      padding: 1em 1.5em;
      border-radius: 0.3em;
    }

    table tbody tr + tr {
        margin-top: 1em;
    }

    table thead {
        display: none;
    }

    body {
        justify-content: center;
        align-items: center;
    }

    table tbody tr td{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
    }

    table tbody td::before {
        display: block; 
        /* display: inline-block; */
        padding-right: 1em;
        content: attr(data-title);
        font-weight: bold;
    }
}

@media (min-width: 801px) {
    
    table {
        background: white;
        border-collapse: collapse;
        box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
        border-radius: 0.3em;
    }
    
    th, td {
        padding:0.5em 1em;
        text-align: left;
    }
    
    th {
        background: lightgray;
    }
    
    tbody td {
        border-top: 1px solid lightgray;
        background: white;
    }
    
    table thead tr:first-child th:first-child {
        border-top-left-radius: 0.3em;
    }
    table thead tr:first-child th:last-child {
        border-top-right-radius: 0.3em;
    }
    table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 0.3em;
    }
    table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 0.3em;
    }
}