h1 {
    color:red
}

p {
    font-size: small;
}

.highlight {
    background-color: yellow;
}

#main-title {
    color: blue;
}

#special-paragraph {
    font-style: italic;
}

div {
    background-color: aquamarine;
}

ul { 
    font-style: oblique;
}

li {
    color: palevioletred;
}